body{
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    
    
    
}
 section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
 }

.qrContainer{
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

    
}

.container__qr-image{
    min-width:300px;
    min-height:45vh; ;
    border: 1px solid black;
    background-image: url(./images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.qrContainer p:nth-child(2){
    font-weight: bolder;
}

.qrContainer p:nth-child(3){
    color: hsl(220, 15%, 55%);
    font-weight: 700px;

}










